<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>أكاديمية  الراتب للتفوق واﻹبداع</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ClassWork Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	  
    <script>
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
      }, false);
      
      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <link href="css/blast.min.css" rel="stylesheet" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="css/style10.css" />
    <!--stylesheets-->
  <!--    <link href="css/style.css" rel='stylesheet' type='text/css' media="all">-->
    
   <link href="css/style-rtl.css" rel='stylesheet' type='text/css' media="all">
   <link href="css/style_login.css" rel='stylesheet' type='text/css' media="all">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">


    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet">
  </head>
  

 


  
    <!--contact -->
   

	  <!-----lasrnews----------
	   <section class=" py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">قالوا عنا</h3>
	  <div class="container">
<div class="row">
                    <div class="col-md-12" data-wow-delay="0.2s">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators --
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="images/slide1.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="images/slid3.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="images/sid4.jpg" alt="">
                                </li>
                            </ol>

                            <!-- Carousel Slides / Quotes --
                            <div class="carousel-inner text-center">

                                <!-- Quote 1 --
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>من افضل الامور يلي صارت بالدنيا مركز الراتب زالت كل الشكوك يلي كانت بصف الحادي عشر حول بعض المواد .. بالاضافة لجهود المعلمين يلي بيأهلو الطلاب للمنافسة على العلامة الكاملة والتميز في الوزاري .. وغير طريقة الشرح المميزة والاجواء اللطيفة وخفة ظل ابو الراتب بالمحاضرة .. يشرفني اني اكون من طلاب هاد المركز المميز ومن جيش ابو الراتب 2020</p>
												<div class="name-item" > <p data-blast="color"> رزان جمال </p></div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 --
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>انا الطالبه اماني سائد صبرة من مدرسة بنات بروقين الثانويه كنت غير مقتنعه في التعليم الالكتروني لكن بعد تجربتي لهذا التعليم اشجع اي طالب يريد التفوق والحصول ع الاعلامه الكامله بالتعلم في مركز ابو الراتب لانه افضل مركز يتعامل مع الطلاب معامله جيده والاستاذ ابو الراتب شكرا لك ع ما قدمته لطلاب وستقدمه وما تبذله من جهد من اجلنا وشكرا ع معاملتك اللطيفه وروحك المرحه معنا انت قدوتنا شكرااا لمركز ابو الراتب ولكل العاملين فيه وبتوفيق والى الامام :) :* </p>
                                                <div class="name-item" > <p data-blast="color">أماني سائد</p>  </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 --
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>يعني بكل بساطة اساتذة المركز بطلو اساتذة صارو جزء من العيلة بقضي وقت معهم ازيد من اهلي والحمد لله ما مقصرين معانا وخصوصا ابو الراتب حصتو بستنا وقتها ,بعتبرها تغيير جو وترفيه طبعا هاد غير الدعم المعنوي الي بقدمولنا اياه فشكرا لاسرة مركز ابوالراتب.</p>
												<div class="name-item" data-blast="color"> <p data-blast="bgColor">   محمد كنان </p></div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>

                            <!-- Carousel Buttons Next/Prev --
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
</div>
		   </div>
	  </section>

    <!--footer-->
    <section class="footer py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="row ">
			 <div class="dance-agile-info col-lg-4 col-md-6 col-sm-6">
            <h4 class="pb-lg-3 pb-3" data-blast="color">من نحن</h4>
            <div class="footer-grid row mb-3">
              <div class="col-lg-12 col-md-6 col-sm-6 col-5">
                <img src="images/logo.png" alt=" " class="logo-footer">
              </div>
             <p class="footer-about">مركز الراتب للتفوق والإبداع هو عبارة عن مؤسسة تعليمية مساندة تقدم الخدمات التعليمية للطلبة في المرحلة الثانوية والجامعية , في مادة الرياضيات وقريبا في مواد أخرى عن طريق التعليم الإلكتروني.</p>
				
				
                  <ul class="best">
                    <li class="mr-1"><img src="images/best.png">  </li>
					  <li><p data-blast="color">أفضل منصة عربية للتعليم اﻹلكتروني</p></li>
                  </ul>
              
				
              </div>
            </div>
			
			
			
         
   

			 <div class="dance-agile-info col-lg-4 col-md-6 col-sm-6">
            <h4 class="pb-lg-4 pb-md-3 pb-3 text-uppercase" data-blast="color">موقعنا </h4>
            <div class="address_mail_footer_grids">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13521.656244649694!2d35.172077223357654!3d32.085093198980594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d27b7e69fecff%3A0x37b8a0567622a0eb!2z2LPZhNmB2YrYqg!5e0!3m2!1sen!2sjo!4v1543964299503" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
          </div>
		

         
         	
			
			
			
          <div class="dance-agile-info col-lg-4 col-md-6 col-sm-6">
            <h4 class="pb-lg-4 pb-md-3 pb-3 text-uppercase" data-blast="color">العنوان</h4>
            <div class="footer-office-hour">
				
				
						
              <ul class="footer-addres">
							<li>
								<span class="mr-2"><i class="far fa-envelope"></i></span>
							 <p>
								<a href="info@lastcallsaudi.com">abed.shuqair@gmail.com</a>
							</p>
							</li>
				    <li class="my-1">
						<span class="mr-2"><i class="fab fa-facebook-f"></i></span>
                  <p>
								<a href="https://www.facebook.com/LastCallSaudi/">www.facebook.com/LastCallSaudi</a>
							</p>
                </li>
				  <li class="my-1">
					  							<span class="mr-2"><i class="fa fa-phone"></i></span>  ,

                 							<p>0135755278- 90005278</p>

                </li>
				  <li class="my-1">
					  							<span class="mr-2"><i class="fa fa-map-marker-alt"></i></span>

                  <p> سلفيت/بلدة الزاوية/قرب مسجد الصديق</p>
                </li>
				
              </ul>
            </div>
			  <div class="list-social-icons text-center py-lg-4 py-md-3 py-3">
            <ul>
				
				
				
				
              <li><a data-blast="color" href="#"><span data-blast="color" class="fab fa-facebook-f"></span></a></li>
              <li><a data-blast="color" href="#"><span data-blast="color" class="fab fa-twitter"></span></a></li>
              <li><a data-blast="color" href="#"><span data-blast="color" class="fab fa-pinterest-p"></span></a></li>
              <li><a data-blast="color" href="#"><span data-blast="color" class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
          </div>
			
			
			
			
        
			
			
			
			
        </div>
      </div>
    </section>
	  
	    <div class="nav-footer py-sm-4 py-3">
      <div class="container-fluid">
        <div class="buttom-nav ">
          <nav class="border-line py-2">
            <ul class="nav justify-content-center">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">الرئيسية <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="#about" class="nav-link scroll">من نحن</a>
              </li>
              <li class="nav-item">
                <a href="#service" class="nav-link scroll">النشاطات</a>
              </li>
              <li class="nav-item">
                <a href="#blog" class="nav-link scroll">قالوا عنا</a>
              </li>
              <li class="nav-item">
                <a href="#contact" class="nav-link scroll">معرض الصور</a>
              </li>
				<li class="nav-item">
                <a href="#contact" class="nav-link scroll">لوحة الشرف</a>
              </li>
				<li class="nav-item">
                <a href="#contact" class="nav-link scroll">فريقنا</a>
              </li>
				<li class="nav-item">
                <a href="#contact" class="nav-link scroll">تواصل معنا</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <footer class="py-3">
      <div class="container">
        <div class="copy-agile-right text-center">
          
          <p> 
            © 2018 Alrateb. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">Alrateb</a>
          </p>
        </div>
      </div>
    </footer>
	 
<!--
    <div class="nav-footer py-sm-4 py-3">
      <div class="container-fluid">
		  
		  
        <div class="copy-agile-right text-center">
         
          <p> 
            © 2018 ClassWork. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">Alrateb</a>
          </p>
        </div>  
		  
		  
      </div>
    </div>
-->
   
    <!--//footer-->
	 <!-- Modal -- login -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-center">
        <div class="modal-dialog .modal-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>

                    </button>

                </div>
                <div class="modal-body">
					   <div class="login"  >
            <div class="wrap">
                <!-- TOGGLE -->
                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
              
                <!-- RECOVERY -->
                <div class="recovery">
                    <h2>Password Recovery</h2>
                    <p>Enter either the <strong>email address</strong> or <strong>username</strong> on the account and <strong>click Submit</strong></p>
                    <p>We'll email instructions on how to reset your password.</p>
                    <form class="recovery-form" action="" method="post">
                        <input type="text" class="input" id="user_recover" placeholder="Enter Email or Username Here">
                        <input type="submit" class="button" value="Submit">
						
                    </form>
                    <p class="mssg">An email has been sent to you with further instructions.</p>
                </div>

                <!-- SLIDER -->
                <div class="content">
                    <!-- LOGO -->
                    <div class="logo">
                        <a href="#"><img src="images/logo.png" alt=""></a>
                    </div>
                    <!-- SLIDESHOW -->
                    <div id="slideshow">
                        <div class="one">
                            <h2><span>EVENTS</span></h2>
                            <p>Sign up to attend any of hundreds of events nationwide</p>
                        </div>
                        <div class="two">
                            <h2><span>LEARNING</span></h2>
                            <p>Thousands of instant online classes/tutorials included</p>
                        </div>
                        <div class="three">
                            <h2><span>GROUPS</span></h2>
                            <p>Create your own groups and connect with others that share your interests</p>
                        </div>
                        <div class="four">
                            <h2><span>SHARING</span></h2>
                            <p>Share your works and knowledge with the community on the public showcase section</p>
                        </div>
                    </div>
                </div>
                <!-- LOGIN FORM -->
                <div class="user">
                    <!-- ACTIONS
                    <div class="actions">
                        <a class="help" href="#signup-tab-content">Sign Up</a><a class="faq" href="#login-tab-content">Login</a>
                    </div>
                    -->
                    <div class="form-wrap">
                        <!-- TABS -->
                    	<div class="tabs">
                            <h3 class="login-tab"> 
								<a class="log-in active" href="#login-tab-content">
									<span>Login<span>
										</a>
									</h3> 
                    		<h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span>Sign Up</span></a></h3>
                    	</div>
                        <!-- TABS CONTENT -->
                    	<div class="tabs-content">
                            <!-- TABS CONTENT LOGIN -->
                    		<div id="login-tab-content" class="active">
                    			<form class="login-form" action="" method="post">
                    				<input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username">
                    				<input type="password" class="input pwd" id="user_pass" autocomplete="off" placeholder="Password">
				
				<i class="reveal glyphicon glyphicon-eye-open"></i>
            
                    				<input type="checkbox" class="checkbox" checked id="remember_me">
                    				<label for="remember_me">Remember me</label>
                    				<input type="submit" class="button" value="Login">
                    			</form>
                    			<div class="help-action">
                    				<p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="forgot" href="#">Forgot your password?</a></p>
                    			</div>
                    		</div>
                            <!-- TABS CONTENT SIGNUP -->
                    		<div id="signup-tab-content">
                    			<form class="signup-form" action="" method="post">
                    				<input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
                    				<input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username">
                    				<input type="password" class="input pwd" id="user_pass" autocomplete="off" placeholder="Password">
													<i class="reveal glyphicon glyphicon-eye-open"></i>

                    				<input type="submit" class="button" value="Sign Up">
                    			</form>
                    			
                    		</div>
                    	</div>
                	</div>
                </div>
            </div>
        </div>
		
						   </div>
				</div>
			</div>
		</div>
		</div>
			<!-- vertical tabs -->
			
			
			
			
			
<!--
                    <form class="form-horizontal" method="#" id="form_sign">

              <div class="row">


                <div class="col-md-12">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="pwd">Usuario :</label>
                      <input required="" class="form-control input" type="text" id="email" onkeypress="saltar(event,'password')" required="required" onkeyup="validatePassword(this.value);" autocomplete="off" value="" autofocus="true" >
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="pwd">Contraseña :</label>
                      <input required="" class="form-control input" type="password" id="password" autocomplete="off" value="" autofocus="true" >
                        <div class="input-group-append">
                          <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                        </div>
                    </div>
                  </div>
                  <label for="pwd">Contraseña :</label>
                  <div class="input-group">
                    <input required="" class="form-control input" type="password" id="password" autocomplete="off" value="" autofocus="true">
                    <span class="input-group-addon"><span onclick="mostrarPassword()" class="fa fa-eye-slash icon"></span></span>
                  </div>

                </div>

              </div>
              

              <div class="control-group">
                <label class="control-label" for="signin"></label>
                <div class="controls">
                  <button id="signin_button" name="signin" class="btn btn-primary btn-block">Login</button>
                  <input type="button" id="cancelar" name="cancelar" class="btn btn-default btn-block" onclick="cloceModalLogin();" value="Cancelar">
                </div>
              </div>
              
            </form>
					
--
					
					
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
				
				
				
				
				
    <!--model-->
    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLiveLabel" data-blast="color">ClassWork</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="images/b2.jpg" alt="" class="img-fluid">
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellu
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!--//model-->
    <!--js working-->
    <script src='js/jquery-2.2.3.min.js'></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://use.fontawesome.com/1744f3f671.js"></script>

<script>
	/*----------login-------*/
	$(".reveal").on('click',function() {
    var $pwd = $(".pwd");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});
	$(function() {
	var tab = $('.tabs h3 a');
	tab.on('click', function(event) {
		event.preventDefault();
		tab.removeClass('active');
		$(this).addClass('active');
		tab_content = $(this).attr('href');
		$('div[id$="tab-content"]').removeClass('active');
		$(tab_content).addClass('active');
	});
});

// SLIDESHOW
$(function() {
	$('#slideshow > div:gt(0)').hide();
	setInterval(function() {
		$('#slideshow > div:first')
		.fadeOut(1000)
		.next()
		.fadeIn(1000)
		.end()
		.appendTo('#slideshow');
	}, 3850);
});

// CUSTOM JQUERY FUNCTION FOR SWAPPING CLASSES
(function($) {
	'use strict';
	$.fn.swapClass = function(remove, add) {
		this.removeClass(remove).addClass(add);
		return this;
	};
}(jQuery));

// SHOW/HIDE PANEL ROUTINE (needs better methods)
// I'll optimize when time permits.
$(function() {
	$('.agree,.forgot, #toggle-terms, .log-in, .sign-up').on('click', function(event) {
		event.preventDefault();
		var terms = $('.terms'),
        recovery = $('.recovery'),
        close = $('#toggle-terms'),
        arrow = $('.tabs-content .fa');
		if ($(this).hasClass('agree') || $(this).hasClass('log-in') || ($(this).is('#toggle-terms')) && terms.hasClass('open')) {
			if (terms.hasClass('open')) {
				terms.swapClass('open', 'closed');
				close.swapClass('open', 'closed');
				arrow.swapClass('active', 'inactive');
			} else {
				if ($(this).hasClass('log-in')) {
					return;
				}
				terms.swapClass('closed', 'open').scrollTop(0);
				close.swapClass('closed', 'open');
				arrow.swapClass('inactive', 'active');
			}
		}
		else if ($(this).hasClass('forgot') || $(this).hasClass('sign-up') || $(this).is('#toggle-terms')) {
			if (recovery.hasClass('open')) {
				recovery.swapClass('open', 'closed');
				close.swapClass('open', 'closed');
				arrow.swapClass('active', 'inactive');
			} else {
				if ($(this).hasClass('sign-up')) {
					return;
				}
				recovery.swapClass('closed', 'open');
				close.swapClass('closed', 'open');
				arrow.swapClass('inactive', 'active');
			}
		}
	});
});

// DISPLAY MSSG
$(function() {
	$('.recovery .button').on('click', function(event) {
		event.preventDefault();
		$('.recovery .mssg').addClass('animate');
		setTimeout(function() {
			$('.recovery').swapClass('open', 'closed');
			$('#toggle-terms').swapClass('open', 'closed');
			$('.tabs-content .fa').swapClass('active', 'inactive');
			$('.recovery .mssg').removeClass('animate');
		}, 2500);
	});
});

// DISABLE SUBMIT FOR DEMO
$(function() {
	$('.button').on('click', function(event) {
		$(this).stop();
		event.preventDefault();
		return false;
	});
});
	/*----------login-------*/

	'use strict'
var	testim = document.getElementById("testim"),
		testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
    testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
    testimLeftArrow = document.getElementById("left-arrow"),
    testimRightArrow = document.getElementById("right-arrow"),
    testimSpeed = 4500,
    currentSlide = 0,
    currentActive = 0,
    testimTimer,
		touchStartPos,
		touchEndPos,
		touchPosDiff,
		ignoreTouch = 30;
;

window.onload = function() {

    // Testim Script
    function playSlide(slide) {
        for (var k = 0; k < testimDots.length; k++) {
            testimContent[k].classList.remove("active");
            testimContent[k].classList.remove("inactive");
            testimDots[k].classList.remove("active");
        }

        if (slide < 0) {
            slide = currentSlide = testimContent.length-1;
        }

        if (slide > testimContent.length - 1) {
            slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
            testimContent[currentActive].classList.add("inactive");            
        }
        testimContent[slide].classList.add("active");
        testimDots[slide].classList.add("active");

        currentActive = currentSlide;
    
        clearTimeout(testimTimer);
        testimTimer = setTimeout(function() {
            playSlide(currentSlide += 1);
        }, testimSpeed)
    }

    testimLeftArrow.addEventListener("click", function() {
        playSlide(currentSlide -= 1);
    })

    testimRightArrow.addEventListener("click", function() {
        playSlide(currentSlide += 1);
    })    

    for (var l = 0; l < testimDots.length; l++) {
        testimDots[l].addEventListener("click", function() {
            playSlide(currentSlide = testimDots.indexOf(this));
        })
    }

    playSlide(currentSlide);

    // keyboard shortcuts
    document.addEventListener("keyup", function(e) {
        switch (e.keyCode) {
            case 37:
                testimLeftArrow.click();
                break;
                
            case 39:
                testimRightArrow.click();
                break;

            case 39:
                testimRightArrow.click();
                break;

            default:
                break;
        }
    })
		
		testim.addEventListener("touchstart", function(e) {
				touchStartPos = e.changedTouches[0].clientX;
		})
	
		testim.addEventListener("touchend", function(e) {
				touchEndPos = e.changedTouches[0].clientX;
			
				touchPosDiff = touchStartPos - touchEndPos;
			
				console.log(touchPosDiff);
				console.log(touchStartPos);	
				console.log(touchEndPos);	

			
				if (touchPosDiff > 0 + ignoreTouch) {
						testimLeftArrow.click();
				} else if (touchPosDiff < 0 - ignoreTouch) {
						testimRightArrow.click();
				} else {
					return;
				}
			
		})
}  
	  
	  </script>
    <!--//js working--> 
    <!--blast colors change-->
    <script src="js/blast.min.js"></script>
    <!--//blast colors change-->
    <!--responsiveslides banner-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
      // You can also use "$(window).load(function() {"
      $(function () {
      	// Slideshow 4
      	$("#slider4").responsiveSlides({
      		auto: true,
      		pager:false,
      		nav:true ,
      		speed: 900,
      		namespace: "callbacks",
      		before: function () {
      			$('.events').append("<li>before event fired.</li>");
      		},
      		after: function () {
      			$('.events').append("<li>after event fired.</li>");
      		}
      	});
      
      });
    </script>
    <!--// responsiveslides banner-->		  
    <!--responsive tabs-->	 
    <script src="js/easy-responsive-tabs.js"></script>
    <script>
      $(document).ready(function () {
      $('#horizontalTab').easyResponsiveTabs({
      type: 'default', //Types: default, vertical, accordion           
      width: 'auto', //auto or any width like 600px
      fit: true,   // 100% fit in a container
      closed: 'accordion', // Start closed if in accordion view
      activate: function(event) { // Callback function if tab is switched
      var $tab = $(this);
      var $info = $('#tabInfo');
      var $name = $('span', $info);
      $name.text($tab.text());
      $info.show();
      }
      });
      });
		

    </script>
    <!--// responsive tabs-->	
    <!--About OnScroll-Number-Increase-JavaScript -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.js"></script>
    <script>
      $('.counter').countUp();
    </script>
    <!-- //OnScroll-Number-Increase-JavaScript -->	  
    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
      jQuery(document).ready(function ($) {
      	$(".scroll").click(function (event) {
      		event.preventDefault();
      		$('html,body').animate({
      			scrollTop: $(this.hash).offset().top
      		}, 900);
      	});
      });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
      $(document).ready(function () {
      
      	var defaults = {
      		containerID: 'toTop', // fading element id
      		containerHoverID: 'toTopHover', // fading element hover id
      		scrollSpeed: 1200,
      		easingType: 'linear'
      	};
      
      
      	$().UItoTop({
      		easingType: 'easeOutQuart'
      	});
      
      });
		
		
		    
	 $(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: false,
  });
});
  
	  
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="js/bootstrap.min.js"></script>
	  <script>
	  	

	  
	  
	  </script>
    <!-- //bootstrap working-->
  </body>
</html>